<main class="main">
    <p>Buscar</p>
    <input type="text" pInputText [(ngModel)]="value" placeholder="Ingrese una palabra">
    <button class="btn" (click)="addSearch()">Enviar</button>

    <div class="container">
        <div *ngFor="let gif of gifs"  class="card">
        <p-card>
            <ng-template pTemplate="header">
                <img [src]="gif.images.fixed_height.url" [alt]="gif.title" />
            </ng-template>
                <p><strong>{{ gif.title }}</strong></p>
        </p-card>
        </div>
    </div>

</main>
